h1{
    text-align: center;
    color : #FFFF00;
}
body {
    background-color: #990000;
}

p#header{
    color : #66CCFF;
}

p.prime_paragraphe{
    color : #99FF99
}

a {
    color : #FFFFFF;
}

img#rang_valo {
    
    width: 500;
    height: 275;
    position: center;
}