h1{
    text-align: center;
    color : #FFFF00;
}
body {
    background-color: #000033;
}

p#header{
    color : #FFFFFF;
}

p.prime_paragraphe{
    color : #FFFFFF;
}

a {
    color : #FFFFFF;
}

form {
    color : #FFFFFF;
}
label {
    color : #FFFFFF;
}

legend {
    color : #FFFFFF;
}
