h1{
    text-align: center;
    color : #FFFF00;
    font-size: 50px;
    font-family: 'Lucida Grande';
}
body {
    background-color: #000033;
}

p#main_paragraphe{
    color : #FFFFFF;
    margin-left : 100px;
}

p.prime_paragraphe{
    color : #FFFFFF;
    margin-left : 60px;
}

a {
    color : #FFFFFF;
}

form {
    color : #FFFFFF;
}
label {
    color : #FFFFFF;
}

legend {
    color : #FFFFFF;
}

img#fer {
    vertical-align: top;
}

p#footer {
    color : #FFFFFF;
}

p {
    font-family: 'Franklin Gothic Medium';
}